.navbar-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}

.navbar-logo-container {
    margin-left: 2%;
    width: 5%;
}

.navbar-logo-container a {
    display: flex;
    justify-content: center;
}

.navbar-logo-container img {
    object-fit: cover;
    width: 95%;
    height: 75px;
    margin-top: 2px;
    cursor: pointer;
}

.navbar-wrapper {
    width: 95%;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.navbar-dropdown-container {
    width: 12%;
    margin-right: 8%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 60%;
    border-radius: 4px 4px 0 0;
    margin-left: 2%;
}

.navbar-dropdown-name {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-dropdown-name p {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.navbar-dropdown-icon-container {
    display: flex;
    align-items: center;
}

.navbar-dropdown-icon-container button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}

.navbar-dropdown {
    position: absolute;
    top: 48px;
    width: 100%;
    z-index: 2;
    background-color: #0a315c;
    border-radius: 0 0 4px 4px;
}

.navbar-dropdown a,
.navbar-dropdown p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    text-align: center;
    border-radius: 0 0 4px 4px;

}

.navbar-dropdown a:hover,
.navbar-dropdown p:hover {
    background-color: #052547;
}

.navbar-contact {
    width: 12%;
    margin-right: 8%;
    display: flex;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-contact p {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.navbar-login-register-container {
    width: 15%;
    height: 80px;
    position:absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.navbar-login {
    width: 40%;
    height: 50%;
    background-color: #be750f;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 10%;
    border-radius: 4px;
}

.navbar-login:hover {
    background-color: orange;
}

.navbar-login button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.navbar-register {
    width: 40%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    background-color: #112c5d;
}

.navbar-register:hover {
    background-color: #234685;
}

.navbar-register button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.navbar-menu-icon {
    display: none;
}

.navbar-menu-container {
    display: none;
}

.navbar-back {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.navbar-account-modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.navbar-login-popup {
    width: 400px;
    height: 420px;
    cursor: default;
    border-radius: 4px;
    box-shadow: 0 0 7px 7px rgba(84, 43, 180, 0.699);
    /* background: var(--bg);
    background: var(--bg-moz);
    background: var(--bg-webkit);
    background: var(--bg-linear);
    filter: var(--filter);
    filter: var(--filter-drop); */

    background: rgb(10,50,96);
    background: -moz-linear-gradient(30deg, rgba(10,50,96,1) 0%, rgba(17,41,85,1) 41%, rgba(4,11,25,1) 100%);
    background: -webkit-linear-gradient(30deg, rgba(10,50,96,1) 0%, rgba(17,41,85,1) 41%, rgba(4,11,25,1) 100%);
    background: linear-gradient(30deg, rgba(10,50,96,1) 0%, rgba(17,41,85,1) 41%, rgba(4,11,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a3260",endColorstr="#040b19",GradientType=1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navbar-login-popup-wrapper {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar-login-popup-header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-login-popup-header h1 {
    font-size: 28px;
    font-weight: 300;
    color: orange;
}

.navbar-login-popup-inputs {
    margin-top: 20px;
    height: 300px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.navbar-login-popup-inputs-input-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-login-popup-inputs-input-container h1 {
    font-size: 18px;
    font-weight: 300;
    color: #81AFDD;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.navbar-login-popup-inputs-input-container input {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10%;
}

.navbar-login-popup-inputs-input-container input:focus {
    outline: 2px solid orange;
}

.navbar-login-popup-inputs-input-container p {
    font-size: 14px;
    margin-left: 0;
    font-weight: 300;
    color: red;
    text-align: start;
    position: absolute;
    bottom: 100px;
}

.navbar-login-popup-button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.navbar-login-popup-button button {
    background-color: #be750f;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.navbar-login-popup-button button:hover {
    background-color: orange;
}

.navbar-register-popup {
    width: 500px;
    height: 600px;
    cursor: default;
    border-radius: 4px;
    box-shadow: 0 0 7px 7px rgba(84, 43, 180, 0.699);
    background: rgb(10,50,96);
    background: -moz-linear-gradient(30deg, rgba(10,50,96,1) 0%, rgba(17,41,85,1) 41%, rgba(4,11,25,1) 100%);
    background: -webkit-linear-gradient(30deg, rgba(10,50,96,1) 0%, rgba(17,41,85,1) 41%, rgba(4,11,25,1) 100%);
    background: linear-gradient(30deg, rgba(10,50,96,1) 0%, rgba(17,41,85,1) 41%, rgba(4,11,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a3260",endColorstr="#040b19",GradientType=1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.navbar-register-popup-wrapper {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.navbar-register-popup-header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-register-popup-header h1 {
    font-size: 28px;
    font-weight: 300;
    color: orange;
}

.navbar-register-popup-input-container {
    margin-top: 10px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.navbar-register-popup-input-container input {
    height: 45px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
    font-size: 18px;
    border: none;
    padding-left: 10px;
    padding-right: 25%;
    outline: none;
}

.navbar-register-popup-input-container input:focus {
    outline: 2px solid orange;
}

.navbar-register-popup-input-container input::placeholder {
    padding-left: 5px;
    opacity: 0.6;
    font-size: 16px;
}

.navbar-register-popup-input-container label {
    position: absolute; 
    top: 10px;
    display: none;
    border: none;
    right: 50px;
    pointer-events: none;
    font-size: 16px;
    color: black;
}

.navbar-register-popup-input-container input:focus + label {
    display: block;
    opacity: 0.4;
}

.navbar-register-popup-dropdown-dropdown-container {
    height: 45px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 4px;
    background-color: white;
    display: flex;
    z-index: 4;
}

.navbar-register-popup-dropdown-dropdown-name {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.navbar-register-popup-dropdown-dropdown-name p {
    font-size: 18px;
    font-weight: 500;
    margin-left: 3%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-top: 1%;
    color: black;
}

.navbar-register-popup-dropdown-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.navbar-register-popup-dropdown-icon-container button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: orange;
}

.navbar-register-popup-dropdown-dropdown {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    display: flex;
    border-radius: 0 0 4px 4px;
    z-index: 3;
    flex-direction: column;
    position: absolute;
    top: 53px;
}

.navbar-register-popup-dropdown-dropdown p {
    width: 100%;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
    padding-top: 17px;
    color: black;
    display: flex;
    text-align: start;
}

.navbar-register-popup-dropdown-dropdown p:hover {
    background-color: rgb(217, 226, 236);
}

@media screen and (max-width: 1500px) {
    .navbar-logo-container {
        width: 7%;
    }
    
    .navbar-logo-container img {
        width: 100%;
    }

    .navbar-dropdown-container {
        width: 15%;
        margin-right: 5%;
        margin-left: 2%;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-logo-container {
        width: 7%;
    }

    .navbar-logo-container img {
        width: 100%;
    }

    .navbar-wrapper {
        width: 80%;
    }
    

    .navbar-dropdown-container {
        width: 15%;
    }

    .navbar-dropdown-container {
        width: 20%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .navbar-dropdown-name {
        width: 80%;
    }
    
    .navbar-dropdown-name p {
        font-size: 16px;
    }

    .navbar-contact {
        width: 15%;
    }
    
    .navbar-contact p {
        font-size: 16px;
    }
    
    .navbar-dropdown a,
    .navbar-dropdown p {
        font-size: 14px;
    
    }

    .navbar-login-register-container {
        width: 17%;
    }
    
    .navbar-login {
        width: 45%;
        margin-right: 5%;
    }
    
    .navbar-login button {
        font-size: 16px;
    }
    
    .navbar-register {
        width: 45%;
    }
    
    .navbar-register button {
        font-size: 16px;
    }
}

@media screen and (max-width: 1050px) {
    .navbar-logo-container {
        width: 10%;
    }
    
    .navbar-wrapper {
        width: 70%;
    }
    
    .navbar-logo-container img {
        width: 100%;
    }

    .navbar-dropdown-name {
        width: 100%;
    }
    
    .navbar-dropdown-name p {
        font-size: 14px;
    }

    .navbar-contact {
        width: 15%;
    }
    
    .navbar-contact p {
        font-size: 14px;
    }
    
    .navbar-dropdown a,
    .navbar-dropdown p {
        font-size: 12px;
    
    }

    .navbar-login-register-container {
        width: 17%;
    }
    
    .navbar-login {
        width: 45%;
        margin-right: 5%;
        height: 40%;
    }
    
    .navbar-login button {
        font-size: 14px;
    }
    
    .navbar-register {
        width: 45%;
        height: 40%;
    }
    
    .navbar-register button {
        font-size: 14px;
    }
}

@media screen and (max-width: 850px) {
    .navbar-wrapper {
        display: none;
        width: 0%;
        height: 0%;
        pointer-events: none;
    }

    .navbar-logo-container {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .navbar-logo-container img {
        width: 80px;
        height: 60px;
        margin-top: 2px;
    }

    .navbar-menu-icon {
        display: block;
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 3;
    }

    .navbar-menu-icon button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        cursor: pointer;
        border: none;
        color: white;
        
    }
    
    .navbar-menu-container {
        display: flex;
        width: 220px;
        height: 330px;
        background-color: #0a315c;
        border-radius: 4px;
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 2;
        flex-direction: column;
    }

    .navbar-menu-dummy-div {
        height: 30px;
    }

    .navbar-menu-container a,
    .navbar-menu-container p {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        font-size: 16px;
        text-align: center;
        border-radius: 0 0 4px 4px;
        width: 100%;
        color: white;
    
    }
    
    .navbar-menu-container a:hover,
    .navbar-menu-container p:hover {
        background-color: #052547;
    }

    .navbar-login {
        width: 45%;
        margin-right: 5%;
    }
    
    .navbar-login button {
        font-size: 16px;
    }
    
    .navbar-register {
        width: 45%;
    }
    
    .navbar-register button {
        font-size: 16px;
    }

    .navbar-login-popup {
        width: 300px;
        height: 360px;
    }
    
    .navbar-login-popup-header {
        height: 70px;
    }
    
    .navbar-login-popup-header h1 {
        font-size: 22px;
    }
    
    .navbar-login-popup-inputs {
        margin-top: 20px;
        height: 300px;
        width: 95%;
    }
    
    .navbar-login-popup-inputs-input-container {
        height: 90px;
        width: 100%;
    }
    
    .navbar-login-popup-inputs-input-container h1 {
        font-size: 16px;
    }
    
    .navbar-login-popup-inputs-input-container input {
        width: 100%;
        height: 40px;
        font-size: 16px;
    }

    .navbar-login-popup-inputs-input-container p {
        font-size: 12px;
        bottom: 82px;
    }
    
    .navbar-login-popup-button {
        height: 45px;
        margin-top: 15px;
    }
    
    .navbar-login-popup-button button {
        font-size: 16px;
    }
}
