.half-dropdown-container {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.half-dropdown-title {
    display: flex;
    height: auto;
    width: 89%;
    margin-left: 11%;
    margin-bottom: 10px;
}

.half-dropdown-title h1 {
    font-size: 20px;
    font-weight: 300;
    color: #81AFDD;
}

.half-dropdown-dropdown-container {
    height: 45px;
    width: 77%;
    margin-left: 11%;
    border-radius: 4px;
    background-color: white;
    display: flex;
}

.half-dropdown-name {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.half-dropdown-name p {
    font-size: 18px;
    font-weight: 500;
    margin-left: 5%;
}

.half-dropdown-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.half-dropdown-icon-container button {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: orange;
}

.half-dropdown-dropdown {
    background-color: white;
    width: 77%;
    margin-left: 11%;
    display: flex;
    border-radius: 0 0 4px 4px; /* LEAVES WHITE PIXEL ON CHROME */
    z-index: 3;
    flex-direction: column;
    position: absolute;
    margin-top: 78px;
}

.half-dropdown-dropdown p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 0 0 4px 4px; /* LEAVES WHITE PIXEL ON CHROME */
    cursor: pointer;
}

.half-dropdown-dropdown p:hover {
    background-color: rgb(217, 226, 236);
}

@media screen and (max-width: 850px) {

    .half-dropdown-container {
        width: 100%;
    }

    .half-dropdown-title {
        width: 95%;
        margin-left: 5%;
    }

    .half-dropdown-dropdown-container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .half-dropdown-dropdown {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .half-dropdown-name {
        width: 90%;
    }

    .half-dropdown-name p {
        font-size: 16px;
    }

    .half-dropdown-icon-container {
        width: 10%;
    }
    
}

@media screen and (max-width: 450px) {

    .half-dropdown-name p {
        font-size: 14px;
    }
}
