.undergraduates-results-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.undergraduates-results-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.undergraduates-results-result-container {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7px 7px rgba(84, 43, 180, 0.699);
    border-radius: 4px;
    background: var(--bg);
    background: var(--bg-moz);
    background: var(--bg-webkit);
    background: var(--bg-linear);
    filter: var(--filter);
    filter: var(--filter-drop);
    position: relative;
    flex-direction: column;
}

.undergraduates-results-result-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.undergraduates-results-result-header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.undergraduates-results-result-header h1 {
    color: orange;
    font-size: 32px;
    font-weight: 300;
    height: fit-content;
    width: 80%;
}

.undergraduates-results-result-subheader {
    width: 100%;
    height: 170px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.undergraduates-results-result-subheader-company {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.undergraduates-results-result-subheader-company h1 {
    font-size: 26px;
    font-weight: 300;
    color: #81AFDD;
    max-width: 70%;
    margin-top: 40px;
}

.undergraduates-results-result-subheader-area {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.undergraduates-results-result-subheader-area h1 {
    font-size: 26px;
    font-weight: 300;
    color: #81AFDD;
    width: 70%;
    margin-top: 40px;
}

.undergraduates-results-result-button {
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 2;
}

.undergraduates-results-result-button button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: orange;
    transform: scale(1.3);
}

.undergraduates-results-result-icon {
    position: absolute;
    top: 0;
}

.undergraduates-results-result-icon i {
    color: orange;
    transform: scale(1.2);
    display: flex;
}

.undergraduates-results-result-expand-container {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 100%;
    height: 0%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.undergraduates-results-result-expand {
    width: 90%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.undergraduates-results-result-field-uni-type-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
}

.undergraduates-results-result-field-uni-type {
    width: 25%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-block-start: 5px solid;
    padding: 10px;
    border-image-source: linear-gradient(90deg, rgba(19,37,83,1) 0%, rgba(22,41,87,1) 10%, rgba(190,117,15,1) 50%, rgba(22,41,87,1) 90%, rgba(19,37,83,1) 100%);
    border-image-slice: 1;
}

.undergraduates-results-result-expand-header {
    height: 50%;
    width: 90%;
    display: inline-block;
    text-align: center;
}

.undergraduates-results-result-expand-header h1 {
    font-size: 22px;
    font-weight: 300;
    color: orange;
}

.undergraduates-results-result-expand-subheader {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.undergraduates-results-result-expand-subheader h1 {
    font-size: 18px;
    font-weight: 300;
    color: #81AFDD;
}

.undergraduates-results-result-start-duration-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
}

.undergraduates-results-result-start-duration {
    width: 25%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-block-start: 5px solid;
    padding: 10px;
    border-image-source: linear-gradient(90deg, rgba(19,37,83,1) 0%, rgba(22,41,87,1) 10%, rgba(190,117,15,1) 50%, rgba(22,41,87,1) 90%, rgba(19,37,83,1) 100%);
    border-image-slice: 1;
}

.undergraduates-results-result-espa-salary-container {
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
}

.undergraduates-results-result-espa-salary {
    width: 35%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-block-start: 5px solid;
    padding: 10px;
    border-image-source: linear-gradient(90deg, rgba(19,37,83,1) 0%, rgba(22,41,87,1) 10%, rgba(190,117,15,1) 50%, rgba(22,41,87,1) 90%, rgba(19,37,83,1) 100%);
    border-image-slice: 1;
}

.undergraduates-results-result-description-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}

.undergraduates-results-result-description {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-block-start: 5px solid;
    padding: 10px;
    border-image-source: linear-gradient(90deg, rgba(19,37,83,1) 0%, rgba(22,41,87,1) 10%, rgba(190,117,15,1) 50%, rgba(22,41,87,1) 90%, rgba(19,37,83,1) 100%);
    border-image-slice: 1;
}

.undergraduates-results-result-description-header {
    height: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.undergraduates-results-result-description-header h1 {
    font-size: 22px;
    font-weight: 300;
    color: orange;
}

.undergraduates-results-result-description-subheader {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.undergraduates-results-result-description-subheader h1 {
    font-size: 18px;
    font-weight: 300;
    color: #81AFDD;
}

.undergraduates-results-result-candidate-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
}

.undergraduates-results-result-candidate-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-block-start: 5px solid;
    padding: 10px;
    border-image-source: linear-gradient(90deg, rgba(19,37,83,1) 0%, rgba(22,41,87,1) 10%, rgba(190,117,15,1) 50%, rgba(22,41,87,1) 90%, rgba(19,37,83,1) 100%);
    border-image-slice: 1;
}

.undergraduates-results-result-candidate-header {
    height: 30px;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.undergraduates-results-result-candidate-header h1 {
    font-size: 22px;
    font-weight: 300;
    color: orange;
}

.undergraduates-results-result-candidate-pdf {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 50px;
}

.undergraduates-results-result-candidate-pdf-text {
    max-width: 250px;
    margin-right: 5px;
}

.undergraduates-results-result-candidate-pdf-text p {
    font-size: 18px;
    font-weight: 300;
    color: #81AFDD;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.undergraduates-results-result-candidate-pdf-button-container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.undergraduates-results-result-candidate-pdf-button-container i {
    border: none;
    cursor: pointer;
    color: #81AFDD;
}

.undergraduates-results-result-candidate-description {
    width: 90%;
    margin-top: 10px;
    display: flex;
}

.undergraduates-results-result-candidate-description textarea {
    background-color: white;
    height: 100px;
    width: 100%;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    overflow-y: scroll;
    word-break: break-word;
    resize: none;
    padding-top: 10px;
}

.undergraduates-results-result-candidate-description textarea::-webkit-scrollbar {
    width: 12px;
    border-radius: 4px;
}

.undergraduates-results-result-candidate-description textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.undergraduates-results-result-candidate-description textarea::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 4px;
}

.undergraduates-results-result-candidate-description textarea:focus {
    outline: 2px solid orange;
}

.undergraduates-results-result-candidate-description textarea::placeholder {
    opacity: 0.6;
    font-size: 16px;
}

.undergraduates-results-result-candidate-after {
    display: none;
    width: 100%;
    background-color: inherit;
}

.undergraduates-results-result-candidate-after::after {
    display: none;
    width: 90%;
}

.undergraduates-results-result-candidate-button {
    width: 100%;
    height: 55px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.undergraduates-results-result-candidate-button-primary {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 5%;
}

.undergraduates-results-result-candidate-button-primary button {
    width: 80%;
    height: 100%;
    background-color: #be750f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.undergraduates-results-result-candidate-button-primary button:hover {
    background-color: orange;
}

.undergraduates-results-result-candidate-button-secondary {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.undergraduates-results-result-candidate-button-secondary button {
    width: 60%;
    height: 100%;
    background-color: #112c5d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.undergraduates-results-result-candidate-button-secondary button:hover {
    background-color: #234685;
}

@media screen and (max-width: 1400px) {
    
    .undergraduates-results-result-header h1 {
        font-size: 30px;
    }
    
    .undergraduates-results-result-subheader-company h1 {
        font-size: 24px;
    }
    
    .undergraduates-results-result-subheader-area h1 {
        font-size: 24px;
    }

    .undergraduates-results-result-field-uni-type {
        width: 30%;
    }

    .undergraduates-results-result-start-duration {
        width: 30%;
    }

    .undergraduates-results-result-espa-salary {
        width: 40%
    }

    .undergraduates-results-result-description {
        width: 80%;
    }

    .undergraduates-results-result-expand-header h1 {
        font-size: 20px;
    }
    
    .undergraduates-results-result-expand-subheader h1 {
        font-size: 16px;
    }

    .undergraduates-results-result-description-header h1 {
        font-size: 20px;
    }
    
    .undergraduates-results-result-description-subheader h1 {
        font-size: 16px;
    }
    
    .undergraduates-results-result-candidate-header h1 {
        font-size: 20px;
    }
    
    .undergraduates-results-result-candidate-pdf-text p {
        font-size: 16px;
    }
    
    .undergraduates-results-result-candidate-description textarea {
        font-size: 16px;
    }
    
    .undergraduates-results-result-candidate-description textarea::placeholder {
        font-size: 14px;
    }

    .undergraduates-results-result-candidate-button {
        height: 50px;
    }
    
    .undergraduates-results-result-candidate-button-primary {
        width: 30%;
    }
    
    .undergraduates-results-result-candidate-button-primary button {
        width: 90%;
        font-size: 16px;
    }
    
    .undergraduates-results-result-candidate-button-secondary {
        width: 35%;
    }
    
    .undergraduates-results-result-candidate-button-secondary button {
        width: 75%;
        font-size: 16px;
    }
    
}

@media screen and (max-width: 1250px) {
    .undergraduates-results-result-header h1 {
        font-size: 28px;
    }
    
    .undergraduates-results-result-subheader-company h1 {
        font-size: 22px;
    }
    
    .undergraduates-results-result-subheader-area h1 {
        font-size: 22px;
    }
    
    .undergraduates-results-result-icon i {
        transform: scale(1.1);
    }

    .undergraduates-results-result-expand-header {
        width: 95%;
    }

    .undergraduates-results-result-expand-subheader {
        width: 95%;
    }

}

@media screen and (max-width: 1000px) {
    .undergraduates-results-result-subheader {
        height: 180px;
    }
}

@media screen and (max-width: 850px) {
    .undergraduates-results-wrapper {
        width: 90%
    }

    .undergraduates-results-result-button button {
        transform: scale(1);
    }

    .undergraduates-results-result-header {
        height: 100px;
    }

    .undergraduates-results-result-header h1 {
        font-size: 26px;
    }

    .undergraduates-results-result-subheader {
        height: 150px;
    }
    
    .undergraduates-results-result-subheader-company h1 {
        font-size: 20px;
    }
    
    .undergraduates-results-result-subheader-area h1 {
        font-size: 20px;
    }

    .undergraduates-results-result-icon i {
        transform: scale(1);
    }

    .undergraduates-results-result-container {
        width: 90%;
    }

    .undergraduates-results-result-expand-header h1 {
        font-size: 18px;
    }
    
    .undergraduates-results-result-expand-subheader h1 {
        font-size: 14px;
    }

    .undergraduates-results-result-description-header h1 {
        font-size: 18px;
    }
    
    .undergraduates-results-result-description-subheader h1 {
        font-size: 14px;
    }

    .undergraduates-results-result-candidate-header h1 {
        font-size: 18px;
    }
    
    .undergraduates-results-result-candidate-pdf-text p {
        font-size: 14px;
    }
    
    .undergraduates-results-result-candidate-description textarea {
        font-size: 14px;
    }
    
    .undergraduates-results-result-candidate-description textarea::placeholder {
        font-size: 12px;
    }

    .undergraduates-results-result-candidate-button {
        height: 50px;
        justify-content: center;
    }
    
    .undergraduates-results-result-candidate-button-primary {
        width: 50%;
        order: 2;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
    
    .undergraduates-results-result-candidate-button-primary button {
        width: 70%;
        font-size: 16px;
    }
    
    .undergraduates-results-result-candidate-button-secondary {
        width: 50%;
        order: 1;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }
    
    .undergraduates-results-result-candidate-button-secondary button {
        width: 70%;
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    
    .undergraduates-results-result-subheader {
        height: 280px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .undergraduates-results-result-subheader-company {
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }

    .undergraduates-results-result-subheader-company h1 {
        font-size: 18px;
    }
    
    .undergraduates-results-result-subheader-area {
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: flex-start;
        position: relative;

    }

    .undergraduates-results-result-subheader-area h1 {
        font-size: 18px;
    }

    .undergraduates-results-result-icon {
        position: absolute;
        top: 0;
        height: 40px;
    }

    .undergraduates-results-result-icon i {
        transform: scale(0.8);
    }

    .undergraduates-results-result-field-uni-type-container {
        margin-bottom: 0px;
        flex-wrap: wrap;
    }
    
    .undergraduates-results-result-field-uni-type {
        width: 90%;
        margin-bottom: 20px;
    }

    .undergraduates-results-result-field-uni-type:nth-child(1) {
        border-image-source: linear-gradient(90deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
    }

    .undergraduates-results-result-field-uni-type:nth-child(2) {
        border-image-source: linear-gradient(270deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
    }

    .undergraduates-results-result-field-uni-type:nth-child(3) {
        border-image-source: linear-gradient(90deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
    }

    .undergraduates-results-result-start-duration-container {
        margin-bottom: 0px;
        flex-wrap: wrap;
    }
    
    .undergraduates-results-result-start-duration {
        width: 90%;
        margin-bottom: 20px;
    }

    .undergraduates-results-result-start-duration:nth-child(1) {
        border-image-source: linear-gradient(270deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
    }

    .undergraduates-results-result-start-duration:nth-child(2) {
        border-image-source: linear-gradient(90deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
    }

    .undergraduates-results-result-espa-salary-container {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    
    .undergraduates-results-result-espa-salary {
        width: 90%;
        margin-bottom: 20px;
    }

    .undergraduates-results-result-espa-salary:nth-child(1) {
        border-image-source: linear-gradient(270deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
    }

    .undergraduates-results-result-espa-salary:nth-child(2) {
        border-image-source: linear-gradient(90deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
    }

    .undergraduates-results-result-description-container {
        margin-bottom: 30px;
    }
    
    .undergraduates-results-result-description {
        width: 90%;
        border-image-source: linear-gradient(270deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
    }

    .undergraduates-results-result-expand-header h1 {
        font-size: 22px;
    }
    
    .undergraduates-results-result-expand-subheader h1 {
        font-size: 16px;
    }

    .undergraduates-results-result-description-header h1 {
        font-size: 22px;
    }

    .undergraduates-results-result-description-subheader {
        width: 95%;
    }
    
    .undergraduates-results-result-description-subheader h1 {
        font-size: 16px;
    }

    .undergraduates-results-result-candidate-container {
        margin-bottom: 0;
    }

    .undergraduates-results-result-candidate-wrapper {
        width: 90%;
        border-image-source: linear-gradient(90deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
    }

    .undergraduates-results-result-candidate-header h1 {
        font-size: 22px;
    }

    .undergraduates-results-result-candidate-pdf-text {
        max-width: 200px;
        margin-right: 10px;
    }
    
    .undergraduates-results-result-candidate-pdf-text p {
        font-size: 16px;
    }

    .undergraduates-results-result-candidate-pdf-button-container {
        margin-right: 0%;
        height: 30px;
        width: 30px;
    }

    .undergraduates-results-result-candidate-pdf-button-container i {
        transform: scale(0.9);
    }

    .undergraduates-results-result-candidate-description {
        width: 100%;
    }
    
    .undergraduates-results-result-candidate-description textarea {
        font-size: 18px;
        height: 120px;
    }
    
    .undergraduates-results-result-candidate-description textarea::placeholder {
        font-size: 14px;
    }

    .undergraduates-results-result-candidate-after {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        width: 90%;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    
    .undergraduates-results-result-candidate-after::after {
        content: '';
        border-block-start: 5px solid;
        padding: 10px;
        border-image-source: linear-gradient(270deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
        border-image-slice: 1;
        display: block;
    }

    .undergraduates-results-result-candidate-button {
        height: 45px;
    }
    
    .undergraduates-results-result-candidate-button-primary {
        width: 50%;
    }
    
    .undergraduates-results-result-candidate-button-primary button {
        width: 80%;
        font-size: 12px;
    }
    
    .undergraduates-results-result-candidate-button-secondary {
        width: 50%;
    }
    
    .undergraduates-results-result-candidate-button-secondary button {
        width: 80%;
        font-size: 12px;
    }
}
