.footer-container {
    background: var(--bg);
    background: var(--bg-moz);
    background: var(--bg-webkit);
    background: var(--bg-linear);
    filter: var(--filter);
    filter: var(--filter-drop);

    height: 220px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex: 1;
    z-index: 0;
}

.footer-left {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.footer-left-title {
    margin-top: 7%;
    margin-left: 15%;
}

.footer-left-title h1 {
    font-size: 28px;
    font-weight: 600;
    color: orange;
}

.footer-left-subtitle {
    margin-top: 5%;
    margin-left: 15%;
}

.footer-left-subtitle h2 {
    font-size: 18px;
    font-weight: 100;
    color: #81AFDD;
    width: 55%;
}

.footer-left-copyright {
    height: 30px;
    margin-left: 1%;
    position: absolute;
    bottom: 2px;
}

.footer-left-copyright p {
    font-size: 16px;
    font-weight: 100;
    color: #81AFDD;
}

.footer-others {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.footer-others-title {
    margin-top: 7%;
    margin-left: 15%;
    margin-bottom: 5%;
}

.footer-others-title h1 {
    font-size: 22px;
    font-weight: 300;
    color: orange
}

.footer-others-subtitle {
    margin-left: 15%;
}

.footer-others-subtitle h2 {
    font-size: 18px;
    font-weight: 100;
    color: #81AFDD;
    margin-bottom: 3%;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .footer-left-subtitle h2 {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .footer-left-subtitle h2 {
        width: 85%;
    }
}

@media screen and (max-width: 850px) {

    .footer-container {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        margin-top: 50px;
    }

    .footer-left {
        height: 170px;
        width: 100%;
        order: 4;
        text-align: center;
    }

    .footer-left-title {
        margin-left: 0%;
        margin-top: 3%;
    }

    .footer-left-title h1 {
        font-size: 28px;
        font-weight: 600;
        color: orange;
    }

    .footer-left-subtitle {
        margin-top: 2%;
        margin-left: 0%;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        
    }

    .footer-left-subtitle h2 {
        font-size: 18px;
        width: 70%;
    }

    .footer-left-copyright {
        height: 30px;
        margin-left: 0%;
        position: absolute;
        bottom: 2px;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .footer-left-copyright p {
        font-size: 16px;
    }

    .footer-others {
        width: 33%;
        margin-top: 3%;
    }

    .footer-others-title {
        margin-left: 0%;
        text-align: center;
    }

    .footer-others-title h1 {
        font-size: 20px;
    }

    .footer-others-subtitle {
        margin-left: 0%;
        text-align: center;
    }

    .footer-others-subtitle h2 {
        font-size: 18px;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 550px) {

    .footer-left {
        height: 140px;
    }
    
    .footer-left-title h1 {
        font-size: 24px;
    }
    
    .footer-left-subtitle h2 {
        font-size: 14px;
        width: 80%;
    }
    
    .footer-left-copyright p {
        font-size: 14px;
    }
    
    .footer-others-title {
        height: 30px;
        justify-content: center;
        width: 100%;
    }

    .footer-others-title h1 {
        font-size: 16px;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .footer-others-subtitle {
        width: 100%;
        margin-top: 7%;
        
    }
    
    .footer-others-subtitle h2 {
        font-size: 14px;
        margin-bottom: 7%;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
