.profile-companies-notification-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: column;
}

.profile-companies-notification-wrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-block-start: 5px solid;
    padding: 10px;
    border-image-source: linear-gradient(90deg, rgba(19,37,83,1) 0%, rgba(22,41,87,1) 10%, rgba(190,117,15,1) 50%, rgba(22,41,87,1) 90%, rgba(19,37,83,1) 100%);
    border-image-slice: 1;
}

.profile-companies-notification-header {
    height: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}

.profile-companies-notification-header h1 {
    font-size: 22px;
    font-weight: 300;
    color: orange;
}

.profile-companies-notification-notification {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-companies-notification-notification p {
    font-size: 18px;
    font-weight: 300;
    color: #81AFDD;
}

.profile-companies-notification-button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.profile-companies-notification-button a {
    width: 35%;
    height: 100%;
    background-color: #be750f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-companies-notification-button a:hover {
    background-color: orange;
}

.profile-companies-notification-after {
    display: none;
    width: 100%;
    background-color: inherit;
}

.profile-companies-notification-after::after {
    display: none;
    width: 90%;
}

.profile-companies-candidates-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-companies-candidates-wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile-companies-candidates-candidate {
    /* height: 600px; */
    width: 60%;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-block-start: 10px solid;
    padding: 10px;
    border-image-source: linear-gradient(90deg, rgba(19,37,83,1) 0%, rgba(22,41,87,1) 10%, rgba(190,117,15,1) 50%, rgba(22,41,87,1) 90%, rgba(19,37,83,1) 100%);
    border-image-slice: 1;
    position: relative;
}

.profile-companies-candidates-candidate-header {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-companies-candidates-candidate-header-name {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.profile-companies-candidates-candidate-header-name h1 {
    font-size: 26px;
    font-weight: 300;
    color: orange;
    width: 80%;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile-companies-candidates-candidate-header-university {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profile-companies-candidates-candidate-header-university-field {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-companies-candidates-candidate-header-university-field h1 {
    font-size: 20px;
    font-weight: 300;
    color: #81AFDD;
    height: 100%;
}

.profile-companies-candidates-candidate-header-university-uni {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-companies-candidates-candidate-header-university-uni h1 {
    font-size: 20px;
    font-weight: 300;
    color: #81AFDD;
    height: 100%;
}

.profile-companies-candidate-header-university-icon {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-companies-candidate-header-university-icon i {
    color: orange;
}

.profile-companies-candidate-expand-container {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 100%;
    height: 0%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.profile-companies-candidate-expand {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-companies-expand-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 5;
}

.profile-companies-expand-icon i {
    color: orange;
}

.profile-companies-candidate-pdf-container {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 20px;
}

.profile-companies-candidate-pdf-text {
    max-width: 200px;
    display: flex;
    margin-right: 10px;
}

.profile-companies-candidate-pdf-text p {
    font-size: 16px;
    font-weight: 300;
    color: #81AFDD;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-companies-candidate-pdf-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.profile-companies-candidate-pdf-icon i {
    cursor: pointer;
    color: #81AFDD;
}

.profile-companies-candidate-description {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-companies-candidate-description p {
    font-size: 16px;
    font-weight: 300;
    color: #81AFDD;
    width: 90%;
    height: 80px;
    overflow-y: auto;
    word-break: break-all;
    padding-right: 5px;
}

.profile-companies-candidate-description p::-webkit-scrollbar {
    width: 12px;
    border-radius: 4px;
    background-color: #81AFDD;
}

.profile-companies-candidate-description p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.profile-companies-candidate-description p::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 4px;
}

.profile-companies-candidate-answer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profile-companies-candidate-answer textarea {
    height: 80px;
    width: 90%;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    resize: none;
    overflow-y: scroll;
    padding: 5px;
    border: none;
}

.profile-companies-candidate-answer textarea::placeholder {
    font-size: 14px;
    opacity: 0.4;
    color: black;
}

.profile-companies-candidate-answer textarea:focus {
    outline: 2px solid orange;
}

.profile-companies-candidate-answer textarea::-webkit-scrollbar {
    width: 12px;
    border-radius: 4px;
}

.profile-companies-candidate-answer textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.profile-companies-candidate-answer textarea::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 4px;
}

.profile-companies-candidate-button-container {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: center;
}

.profile-companies-candidate-button-primary {
    width: 50%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-companies-candidate-button-primary button {
    border: none;
    border-radius: 4px;
    background-color: #be750f;
    cursor: pointer;
    font-size: 16px;
    color: white;
    width: 70%;
    height: 45px;
}

.profile-companies-candidate-button-primary button:hover {
    background-color: orange;
}

.profile-companies-candidate-button-secondary {
    width: 50%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-companies-candidate-button-secondary button {
    border: none;
    border-radius: 4px;
    background-color: #112c5d;
    cursor: pointer;
    font-size: 16px;
    color: white;
    width: 70%;
    height: 45px;
}

.profile-companies-candidate-button-secondary button:hover {
    background-color: #234685;
}

.profile-companies-candidate-button-container p {
    font-size: 20px;
    font-weight: 300;
    color: green;
}

.profile-companies-candidate-after {
    display: none;
    width: 100%;
    background-color: inherit;
}

.profile-companies-candidate-after::after {
    display: none;
    width: 90%;
}

@media screen and (max-width: 1400px) {
    .profile-companies-notification-wrapper {
        width: 90%;
    }

    .profile-companies-notification-header h1 {
        font-size: 20px;
    }

    .profile-companies-notification-notification p {
        font-size: 16px;
    }

    .profile-companies-notification-button a {
        font-size: 16px;
    }

    .profile-companies-candidates-candidate {
        width: 70%;
    }
}

@media screen and (max-width: 850px) {
    .profile-companies-notification-header h1 {
        font-size: 18px;
    }

    .profile-companies-notification-notification p {
        font-size: 14px;
    }

    .profile-companies-notification-button a {
        font-size: 14px;
        width: 60%;
    }

    .profile-companies-candidates-candidate {
        width: 80%;
    }

    .profile-companies-candidate-button-container p {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .profile-companies-notification-container {
        margin-bottom: 20px;
    }

    .profile-companies-notification-wrapper {
        border-image-source: linear-gradient(90deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);

    }

    .profile-companies-notification-header h1 {
        font-size: 22px;
    }

    .profile-companies-notification-notification p {
        font-size: 16px;
    }

    .profile-companies-notification-button {
        height: 45px;
    }

    .profile-companies-notification-button a {
        font-size: 16px;
    }

    .profile-companies-notification-after {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        margin-bottom: 10px;
    }

    .profile-companies-notification-after::after {
        content: '';
        border-block-start: 5px solid;
        padding: 10px;
        border-image-source: linear-gradient(270deg, rgba(190,117,15,1) 0%, rgba(33,57,103,1) 80%, rgba(19,37,83,1) 100%);
        border-image-slice: 1;
        display: block;
    }

    .profile-companies-candidates-wrapper {
        width: 90%;
    }

    .profile-companies-candidates-candidate {
        width: 95%;
    }

    .profile-companies-candidates-candidate-header {
        height: 160px;
    }
    
    .profile-companies-candidates-candidate-header-name {
        height: 45%;
    }
    
    .profile-companies-candidates-candidate-header-name h1 {
        font-size: 24px;
    }
    
    .profile-companies-candidates-candidate-header-university {
        height: 55%;
    }
    
    .profile-companies-candidates-candidate-header-university-field h1 {
        font-size: 18px;
    }
    
    .profile-companies-candidates-candidate-header-university-uni h1 {
        font-size: 18px;
    }

    .profile-companies-candidate-after {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        margin-bottom: 10px;
    }

    .profile-companies-candidate-after::after {
        content: '';
        border-block-start: 10px solid;
        padding: 10px;
        border-image-source: linear-gradient(90deg, rgba(19,37,83,1) 0%, rgba(22,41,87,1) 10%, rgba(190,117,15,1) 50%, rgba(22,41,87,1) 90%, rgba(19,37,83,1) 100%);
        border-image-slice: 1;
        display: block;
    }

    .profile-companies-candidate-button-container p {
        font-size: 16px;
    }
}
