.breadcrumb-container {
    width: 94%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

.breadcrumb-breadcrumb {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.breadcrumb-breadcrumb a {
    color: #81AFDD;
    font-size: 18px;
    margin-right: 5px;
    text-decoration: underline;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breadcrumb-breadcrumb p {
    color: orange;
    font-size: 18px;
    margin-right: 5px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 850px) {
    .breadcrumb-container {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        flex: 1;
    }

    .breadcrumb-breadcrumb a {
        font-size: 16px;
        margin-right: 3px;
    }
    
    .breadcrumb-breadcrumb p {
        font-size: 16px;
        margin-right: 3px;
    }
}

@media screen and (max-width: 450px) {
    .breadcrumb-breadcrumb a {
        font-size: 14px;
        margin-right: 2px;
    }
    
    .breadcrumb-breadcrumb p {
        font-size: 14px;
        margin-right: 2px;
    }
}
