* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Times New Roman', Times, serif;
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  outline: 1px solid red;
}

body {
  background: rgb(3,32,61);
  background: -moz-linear-gradient(90deg, rgba(3,32,61,1) 0%, rgba(2,9,20,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(3,32,61,1) 0%, rgba(2,9,20,1) 100%);
  background: linear-gradient(90deg, rgba(3,32,61,1) 0%, rgba(2,9,20,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#03203d",endColorstr="#020914",GradientType=1); 
}

a {
  color: unset;
  text-decoration: none;
}

img {
  object-fit: cover;
}

/* Secondary divs e.g Footer etc */
:root {
  --bg: rgb(10,50,96);
  --bg-moz: -moz-linear-gradient(90deg, rgba(10,50,96,1) 0%, rgba(17,41,85,1) 41%, rgba(4,11,25,1) 100%);
  --bg-webkit: -webkit-linear-gradient(90deg, rgba(10,50,96,1) 0%, rgba(17,41,85,1) 41%, rgba(4,11,25,1) 100%);
  --bg-linear: linear-gradient(90deg, rgba(10,50,96,1) 0%, rgba(17,41,85,1) 41%, rgba(4,11,25,1) 100%);
  --filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0a3260",endColorstr="#040b19",GradientType=1);
  --filter-drop: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
